/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Basic */

html {
  font-size: clamp(14px, 1.5vw, 16px);
}


body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
    color: hsl(0, 0%, 7%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    height: 100%;
    max-height: 550px;
    background-color: hsl(0, 0%, 100%);
    margin: 200px auto;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.container:hover {
    filter: brightness(1.10);
    transition: filter 0.3s ease;
}

.illustration-article {
    margin: 25px;
    border-radius: 10px;
}

.state {
    background-color: hsl(47, 88%, 63%);
    margin: 0px auto 20px 25px;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 800;
}

.published-day {
    margin: 0px 25px 25px 25px;
}

.class-name {
    font-weight: 800;
    margin: 0px 25px 20px 25px;
    font-size: 1.6rem;
}

p {
    margin: 0px 25px 20px 25px;
    color: hsl(0, 0%, 42%);
}

.teacher-name {
    display: flex;
    align-items: center;
    margin: 0px 25px 25px 25px;
    gap: 10px
}

.avatar {
    width: 30px;
    height: 30px;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        max-width: 325px;
    }
}